beautifulsoup4
Flask
investpy
keras
matplotlib
numpy
pandas
pandas_datareader
plotly
Requests
scikit_learn
seaborn
tensorflow
tensorflow_intel
yfinance
crewai
crewai_tools
langchain_google_genai
load_dotenv